@import "tailwindcss";


@font-face {
  font-family: productsans;
  src: url("/fonts/product-sans/Product Sans Regular.ttf");
}


@font-face {
  font-family: gilroy;
  src: url("/fonts/gilroy/Gilroy-Regular.ttf");
}